<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to Grid Demo!</h1>
      <jqxGrid
          [width]="'100%'" [source]="dataAdapter" [columns]="columns"
          [pageable]="true" [sortable]="true" [columnsresize]="true" [columnsreorder]="true"
          [autoheight]="true" [selectionmode]="'multiplerowsextended'" [theme]="'custom'"
          [pagesize]="20" [pagesizeoptions]="[20, 50, 100]"
          [filterable]="true" [showfilterrow]="true" [columnsmenu]="false">
      </jqxGrid>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Test Fontello cli</h2>
      <i class="pdx-icon icon-edit"></i>
      <i class="pdx-icon icon-home-1"></i>
      <i class="pdx-icon icon-wrench"></i>
      <i class="pdx-icon icon-cog"></i>
      <i class="pdx-icon icon-down-open"></i>
    </div>
  </div>
</div>
