/* reset.css file */
* { margin:0; padding:0; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }

body{ text-align:left; font-weight:400; font-size:14px; line-height:24px;font-family: $font-family; color:$txt-color; background: $body-bg-color;}
html body{font-family: $font-family;  }
img           { border:0; vertical-align:top; max-width:100%; }
a, button,input[type='submit'],input[type='button']{ cursor:pointer; }
a             { text-decoration:none; }
a:hover       { text-decoration:none !important; }

/* Headings */
h1,h2,h3,
h4,h5,h6      { margin:0 0 5px; line-height:1.35;font-family: $font-family !important;}
h1            { font-size:20px; font-weight:400; }
h2            { font-size:18px; font-weight:400; }
h3            { font-size:16px; font-weight:700; }
h4            { font-size:14px; font-weight:700; }
h5            { font-size:12px; font-weight:700; }
h6            { font-size:10px; font-weight:700; }

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; border-collapse:collapse; border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
p             { margin:0 0 10px; }
strong        { font-weight:bold; }
address       { font-style:normal; line-height:1.35; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small,big     { font-size:1em; }
sup           { font-size:1em; vertical-align:top; }

/* Lists */
ul,ol         { list-style:none; }

/* common.css file */

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.f-block      { display:inline-block; vertical-align:top; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-marginL   { margin-left:0 !important; }
.no-marginR   { margin-right:0 !important; }
.no-marginT   { margin-top:0 !important; }
.no-marginB   { margin-bottom:0 !important; }
.no-padding   { padding:0 !important; }
.no-paddingR  { padding-right:0 !important; }
.no-paddingL  { padding-left:0 !important; }
.no-bg        { background:none !important; }
.container    { max-width:1230px; width:100%; }
.clear        { clear:both; }
.ul-left li   { float:left; }
.ul-right li  { float:right; }

.push-down-1  {margin-top:10px;}
.push-down-2  {margin-top:20px;}
.push-down-3  {margin-top:30px;}
.push-down-4  {margin-top:40px;}
.push-down-5  {margin-top:50px;}
.push-down-6  {margin-top:60px;}
.push-down-7  {margin-top:70px;}
.push-down-8  {margin-top:80px;}
.push-down-9  {margin-top:90px;}
.push-down-10 {margin-top:100px;}

/* Input focus reset */
.form-control:focus { box-shadow: none; }

/* Placeholder Colors */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $txt-color-placeholder;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $txt-color-placeholder;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $txt-color-placeholder;
}
:-moz-placeholder { /* Firefox 18- */
  color: $txt-color-placeholder;
}
input::placeholder, textarea::placeholder {
  color: $txt-color-placeholder !important;
}

/*CSS for loading bar*/

.turnrx-loading-bar {
  position: absolute;
  top: 0;
  left:0;

  .loader {
    height: 8px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
  }

  .loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 8px;
    background: $primary-color;
    background: linear-gradient(90deg, $secondary-color, $primary-color);
    animation: loading 2s linear infinite;
  }

  @keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 40%;}
    80% { left: 70%;}
    95% {left: 120%;}
    to {left: 100%;}
  }
}


/* jqxgrid custom styling */
.jqx-widget-custom
{
  font-family: 'Open Sans', sans-serif !important;
}
.jqx-widget-content-custom
{
  color: #707070 !important;
  text-shadow: none !important;
  border-color: #fff0 !important;
  background: #ffffff !important;
  font-family: 'Open Sans', sans-serif !important;
}

.jqx-widget-header-custom, .jqx-grid-custom .jqx-widget-header-custom
{
  color: #707070;
  text-shadow: none;
  border-color: transparent;
  background-color: #E1EAEF;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: 'Open Sans', sans-serif;
}
.jqx-grid-column-menubutton-custom, .jqx-widget-custom.jqx-grid-column-menubutton-custom
{
  border-color: transparent;
}
.jqx-grid-cell-custom, .jqx-widget-custom .jqx-grid-cell-custom
{
  background-color: #ffffff;
  color: #333333;
  text-shadow: none;
}
.jqx-grid-selectionarea-custom
{
  border-color: #aaaaaa;
  background-color: #efefef;
}
.jqx-widget-custom .jqx-grid-cell-sort-custom, .jqx-widget-custom .jqx-grid-cell-filter-custom, .jqx-widget-custom, .jqx-grid-cell-sort-custom, .jqx-grid-cell-filter-custom, .jqx-grid-cell-pinned-custom
{
  background-color: #E1EAEF;
  color: #333333;
  text-shadow: none;
}
.jqx-widget-custom .jqx-grid-cell-alt-custom, .jqx-widget-custom .jqx-grid-cell-sort-alt-custom, .jqx-widget-custom .jqx-grid-cell-pinned-alt-custom, .jqx-widget-custom .jqx-grid-cell-filter-alt-custom, .jqx-grid-cell-alt-custom, .jqx-grid-cell-sort-alt-custom, .jqx-grid-cell-filter-alt-custom
{
  background-color: rgba(51,51,51,0.05);
  color: #333333;
  text-shadow: none;
}
.jqx-fill-state-hover-custom, .jqx-widget-custom .jqx-grid-cell-hover-custom
{
  color: #333333;
  text-shadow: none;
  border-color: #999;
  background-color: rgba(51,51,51,0.05);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: 'Open Sans', sans-serif;
}
.jqx-fill-state-pressed-custom, .jqx-widget-custom .jqx-grid-cell-selected-custom
{
  color: #333333;
  text-shadow: none;
  border-color: #999999;
  background-color: rgba(51,51,51,0.05);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: 'Open Sans', sans-serif;
}
.jqx-grid-bottomright-custom, .jqx-panel-bottomright-custom, .jqx-listbox-bottomright-custom
{
  background-color: #efefef;
}
.jqx-widget-custom .jqx-grid-column-header-custom, .jqx-widget-custom .jqx-grid-cell-custom, .jqx-widget-custom .jqx-grid-group-cell-custom, .jqx-grid-cell-custom
{
  border-color: #fff0 !important;
}
.jqx-widget-custom .jqx-grid-cell-custom, .jqx-listitem-state-normal-custom, .jqx-menu-item-normal-custom, .jqx-tree-item-normal-custom, .jqx-calendar-cell-custom, .jqx-grid-cell-custom,.jqx-menu-vertical-custom .jqx-menu-item-top-normal-custom, .jqx-input-popup-custom .jqx-fill-state-normal-custom
{
  font-family: 'Open Sans', sans-serif;
}
.jqx-widget-custom .jqx-grid-cell-hover-custom, .jqx-listitem-state-hover-custom, .jqx-menu-item-hover-custom, .jqx-tree-item-hover-custom, .jqx-calendar-cell-hover-custom, .jqx-grid-cell-hover-custom,.jqx-menu-vertical-custom .jqx-menu-item-top-hover-custom, .jqx-input-popup-custom .jqx-fill-state-hover-custom,.jqx-input-button-header-custom, .jqx-input-popup-custom .jqx-fill-state-pressed-custom,.jqx-input-button-header-custom
{
  font-family: 'Open Sans', sans-serif;
}
.jqx-widget-custom  .jqx-grid-cell-selected-custom, .jqx-listitem-state-selected-custom, .jqx-menu-item-selected-custom, .jqx-tree-item-selected-custom, .jqx-calendar-cell-selected-custom, .jqx-grid-cell-selected-custom,.jqx-menu-vertical-custom .jqx-menu-item-top-selected-custom, .jqx-grid-selectionarea-custom
{
  font-family: 'Open Sans', sans-serif;
}

.jqx-grid-statusbar-custom .jqx-grid-cell-pinned-custom{
  background-color: #ffffff;
}
.jqx-widget-header-custom > .jqx-grid-cell-pinned-custom{
  background-color:#ff0000;
}
.jqx-grid-cell-filter-row-custom.jqx-grid-cell-pinned.jqx-grid-cell-pinned-custom {
  background-color: #E1EAEF;
}

/* .jqx-widget-header.jqx-widget-header-custom .jqx-grid-column-menubutton {
 border-width: 0;
 background-image: none !important;
} */

.jqx-grid-cell-custom.jqx-item-custom {
  text-align: center;
}
.jqx-grid-cell-custom.jqx-item-custom > a {
  color: #00588f;
  margin-top: 6px;
  margin-right: 5px;
  display: inline-block;
  text-decoration: underline;
}
